[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bin/z"]
	path = bin/z
	url = https://github.com/rupa/z
[submodule "bin/screenfetch"]
	path = bin/screenfetch
	url = https://github.com/KittyKatt/screenFetch
[submodule "vimfiles/bundle/vim-cucumber"]
	path = vimfiles/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vimfiles/bundle/vim-fireplace"]
	path = vimfiles/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vimfiles/bundle/vim-classpath"]
	path = vimfiles/bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "vimfiles/bundle/vim-clojure-static"]
	path = vimfiles/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-dispatch"]
	path = vimfiles/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
