[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bin/z"]
	path = bin/z
	url = https://github.com/rupa/z
[submodule "bin/screenfetch"]
	path = bin/screenfetch
	url = https://github.com/KittyKatt/screenFetch
