snippet narrative
	Narrative:
	In order to ${1}
	As a ${2}
	I want to ${3}
	
	${4}
snippet scenario
	Scenario: ${1}
	Given 
	When 
	Then 
	${4}
snippet giv
	Given ${1}
snippet when
	When ${1}
snippet then
	Then ${1}

